<h1>Add a task list</h1>

<%= form_for @tasks, url: new_task_list_task_path do |t| %>




  <p>
    <%= t.label :task %>
    <%= t.text_field :task %>

  </p>
  <p>
    <%= t.submit class: "form-button" %>
  </p>

<% end %>

