<h1>My Lists</h1>

<%= link_to( "+ add a new task", "/new_tasks_index") %>

<% @task_lists.each do |task_list| %>

  <section class="task-list">
    <h1><%= task_list.name %></h1>
  </section>

<% end %>

